    body {
        margin: 0;
        font-family: sans-serif;
    }
    
    nav h1 {
        margin: 0;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    header {
        width: 100%;
        background: #4e94ab;
    }
    
    #btn-menu {
        display: none;
    }
    
    header label {
        display: none;
        width: 30px;
        height: 30px;
        padding: 10px;
        border-right: 1px solid #ffffff;
    }
    
    header label:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.3);
    }
    
    .menu ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
    }
    
    .menu li {
        border-right: 1px solid #ffffff;
    }
    
    .menu li:hover {
        background: rgba(0, 0, 0, 0.3);
    }
    
    .menu li a {
        display: block;
        padding: 15px 20px;
        color: #ffffff;
        text-decoration: none;
    }
    
    main {
        padding: 20px;
    }
    
    @media(max-width:768px) {
        header label {
            display: block;
        }
        .menu {
            position: absolute;
            background: #4e94ab;
            width: 70%;
            margin-left: -70%;
            transition: all 0.5s;
        }
        .menu ul {
            flex-direction: column;
        }
        .menu li {
            border-top: 1px solid #ffffff;
        }
        #btn-menu:checked~.menu {
            margin: 0;
        }
    }
    
    footer {
        margin: 0;
        background: black;
        padding-bottom: 35px;
    }
    
    .pie_pagina ul {
        margin: 0;
        list-style: none;
        padding: 2;
        display: flex;
    }
    
    .pie_pagina li {
        list-style: none;
        border-right:1px solid #ffffff;
        color: #ffffff;
    }
    
    .pie_pagina li a {
        display: block;
        padding: 20px 25px;
        color: #ffffff;
        text-decoration: none;
    }