body{
  margin: 0px;
  padding-top: 5px;
}

header{
  background-image: url(../Recursos/ing-2.jpg);
  width: 95%;
  padding: 6%;
}

h1 {
  font-size: 80px;
  color: rgb(80, 170, 203);
  font-style: italic;
  margin:auto;

}

nav{
  background-color: #5de815;
  border: 1px dashed;
  padding: 1%;
}
 ul{
  list-style: none;
  float: left;
  width: 95%;
}
li{
  font-size: 20px;
  font-style: oblique;
  font-family: fantasy;
  float: left;
  list-style: none;
  padding: 3%;
  color: #FFFFFF;
  border-style:ridge;
  padding: 0.5%;

}
a{

}

footer{
  background-color: #000000;
  border: 5px dashed;
  color: #FFFFFF;
  padding-bottom: 10px;
  font-size-adjust: auto;
}
